<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Biblioteca.Properties.Settings.BibliotecaConnectionString"
            connectionString="Data Source=DESKTOP-T11K1K8;Initial Catalog=Biblioteca;Persist Security Info=True;User ID=DFJL;Password=02061928"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>